www.brennblatt.de {
  redir https://brennblatt.de{uri}
}

brennblatt.de {
  root /var/www/brennblatt/web/

  log /var/www/brennblatt/log/access.log {
    rotate {
      size 100
      age 96
      keep 10
    }
  }

  errors {
    log /var/www/brennblatt/log/error.log {
      size 100
      age 96
      keep 10
    }
  }

  gzip

# plugin missing in NixOS https://github.com/NixOS/nixpkgs/issues/14671
#  expires {
#    match .js$ 1m
#    match .css$ 1m
#    match .html$ 1d
#    match .jpg$ 1m
#    match .jpeg$ 1m
#    match .png$ 1m
#    match .gif$ 1m
#    match .ico$ 1m
#    match .txt$ 1m
#    match .ttf$ 1m
#  }
}
